[submodule "dwm"]
	path = dwm
	url = https://github.com/savorn/dwm
[submodule "st"]
	path = st
	url = https://github.com/savorn/st
[submodule "slstatus"]
	path = slstatus
	url = https://github.com/savorn/slstatus
